<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <!-- css -->
    <link th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css" rel="stylesheet"/>
    <link th:href="@{/css/font-awesome.min.css}" href="../static/css/font-awesome.min.css" rel="stylesheet">
    <link th:href="@{/css/nprogress.css}" href="../static/css/nprogress.css" rel="stylesheet">
    <link th:href="@{/css/green.css}" href="../static/css/green.css" rel="stylesheet">
    <link th:href="@{/css/bootstrap-progressbar-3.3.4.min.css}" href="../static/css/bootstrap-progressbar-3.3.4.min.css"
          rel="stylesheet">
    <link th:href="@{/css/jqvmap.min.css}" href="../static/css/jqvmap.min.css" rel="stylesheet"/>
    <link th:href="@{/css/dropzone.min.css}" href="../static/css/dropzone.min.css" rel="stylesheet">
    <link th:href="@{/css/custom.min.css}" href="../static/css/custom.min.css" rel="stylesheet">
</head>
<body class="login">
<div>
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>

    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
                <form  method="post" id="login">
                    <h1>欢迎登陆</h1>
                    <div>
                        <input type="text" class="form-control" id="devCode" name="devCode" placeholder="用户名" required="" />
                    </div>
                    <div>
                        <input type="password" class="form-control" id="devPassword" name="devPassword" placeholder="密码" required="" />
                    </div>
                    <div>
                        <button type="button" onclick="login('dev')" class="btn btn-success">登    录</button>
                        <button type="reset" class="btn btn-default">重    置</button>
                    </div>

                    <div class="clearfix"></div>

                    <div class="separator">
                        <div class="clearfix"></div>
                        <br />

                        <div>
                            <p>©2019 All Rights Reserved. 郴州科泰客户关系管理系统</p>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>


    <script th:src="@{/js/jquery.min.js}"></script>
    <script type="application/javascript">
        //js获取项目根路径，如： http://localhost:8083/uimcardprj
        function getRootPath(){
            //获取当前网址，如： http://localhost:8083/uimcardprj/share/meun.jsp
            var curWwwPath=window.document.location.href;
            //获取主机地址之后的目录，如： uimcardprj/share/meun.jsp
            var pathName=window.document.location.pathname;
            var pos=curWwwPath.indexOf(pathName);
            //获取主机地址，如： http://localhost:8083
            var localhostPaht=curWwwPath.substring(0,pos);
            //获取带"/"的项目名，如：/uimcardprj
            var projectName=pathName.substring(0,pathName.substr(1).indexOf('/')+1);
            return (localhostPaht+projectName);
        }
        function login(type) {
            let url;
            if (type==="dev"){
                url = getRootPath()+"/"+"devLogin";
            }else{
                url = getRootPath()+"/"+"backendLogin";
            }
            if($("#"+type+"Code")!=="" && $("#"+type+"pwd")!==""){
                doLogin(url);
            }else {
                alert("请正确填写账号和密码后再重试!!!");
            }
        }





        function  doLogin(url){
            var params=$('#login').serialize();
            $.ajax({
                "url":url,
                "dataType":"json",
                "data":params,
                "success":function (data){
                    if (data.code===200){
                        window.location.href=getRootPath()+"/"+"dev/main.html";
                    }else{
                        alert(data.message);
                    }
                },
                "contentType":"application/json",
                "error":function (xhq, m, e) {
                    alert(e);
                }
            });
        }
    </script>
</div>
</body>
</html>