<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.t248.appinfo.mapper.AppCategoryMapper">
  <resultMap id="BaseResultMap" type="com.t248.appinfo.model.AppCategory">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="categoryCode" jdbcType="VARCHAR" property="categoryCode" />
    <result column="categoryName" jdbcType="VARCHAR" property="categoryName" />
    <result column="parentId" jdbcType="BIGINT" property="parentId" />
    <result column="createdBy" jdbcType="BIGINT" property="createdBy" />
    <result column="creationTime" jdbcType="TIMESTAMP" property="creationTime" />
    <result column="modifyBy" jdbcType="BIGINT" property="modifyBy" />
    <result column="modifyDate" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="catelevel" jdbcType="INTEGER" property="catelevel" />
  </resultMap>
</mapper>