<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.t248.appinfo.mapper.AppVersionMapper">
  <resultMap id="BaseResultMap" type="com.t248.appinfo.model.AppVersion">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="appId" jdbcType="BIGINT" property="appId" />
    <result column="versionNo" jdbcType="VARCHAR" property="versionNo" />
    <result column="versionInfo" jdbcType="VARCHAR" property="versionInfo" />
    <result column="publishStatus" jdbcType="BIGINT" property="publishStatus" />
    <result column="downloadLink" jdbcType="VARCHAR" property="downloadLink" />
    <result column="versionSize" jdbcType="DECIMAL" property="versionSize" />
    <result column="createdBy" jdbcType="BIGINT" property="createdBy" />
    <result column="creationDate" jdbcType="TIMESTAMP" property="creationDate" />
    <result column="modifyBy" jdbcType="BIGINT" property="modifyBy" />
    <result column="modifyDate" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="apkLocPath" jdbcType="VARCHAR" property="apkLocPath" />
    <result column="apkFileName" jdbcType="VARCHAR" property="apkFileName" />
  </resultMap>
</mapper>