<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.t248.appinfo.mapper.BackendUserMapper">
  <resultMap id="BaseResultMap" type="com.t248.appinfo.model.BackendUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="userCode" jdbcType="VARCHAR" property="userCode" />
    <result column="userName" jdbcType="VARCHAR" property="userName" />
    <result column="userType" jdbcType="BIGINT" property="userType" />
    <result column="createdBy" jdbcType="BIGINT" property="createdBy" />
    <result column="creationDate" jdbcType="TIMESTAMP" property="creationDate" />
    <result column="modifyBy" jdbcType="BIGINT" property="modifyBy" />
    <result column="modifyDate" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="userPassword" jdbcType="VARCHAR" property="userPassword" />
  </resultMap>
</mapper>